/* utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;

}
/* debug */
.debug header{
    height: 700px;
    background-color: #3161e0;
    border: 1px solid black;
}
.debug section{
    height: 600px;
}
.debug .card{
    background-color: red;
    height: 500px;
}
.debug .card_fourh{
    background-color: red;
    height: 500px;
}
.debug .img{
    background-color: rgb(232, 150, 127);
}
.debug .area_text{
    background-color: rgb(114, 61, 61);
}
/* header */
header{
    display: flex;
    flex-direction: column;
    background-color: #3161e0;

}
nav{
    display: flex;
    margin: 0 200px;
    padding: 1rem 0;
    justify-content: space-between;
    font-size: 22px;
}

.download_banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}
.download_banner section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.download_banner h1{
    font-size: 50px;
}
.download_banner p{
    font-size: 20px;
}
.download_banner button{
    border-radius: 28px;
    font-size: 20px;
    padding: 16px 32px;
    border: 0;
}
.download_button{
    background-color: #ffffff;
    color: #646668;
}
.open_button{
    background-color: #23272a;
}
/* main */
.card{
    display: flex;
    width: 100%;
    justify-content: center;
}
.img{
    width: calc((100% / 12) * 8);
    padding: 1rem;
}
.area_text{
    width: calc((100% / 12) * 7);
    padding: 1rem;
    
}
.area_text h3{
    color: #23272a;
}
.area_text p{
    color: #23272a;
}
.area_text h3{
    font-size: 50px;   
}
.area_text p{
    font-size: 20px;
}
/* section frist */
.section_frist{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}
.section_frist .img{
    order: 1;
}
.section_frist .area_text{
    order: 2;
}
/* section second */
.section_second{
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}
.section_second .img{
    order: 2;
}
.section_second .area_text{
    order: 1;
}
/* third section */
.section_third{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}
.section_third .img{
    order: 1;
}
.section_third .area_text{
    order: 2;
}
/* fourh section */
.section_fourh{
    background-color: #f6f6f6;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 200px;
}
.card_fourh{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section_fourh .img{
    order: 1;
}
.section_fourh .area_text{
    order: 2;
}
.section_fourh h4{
    color: black;
    font-size: 30px
}
.download_windows,.singin_button{
    background-color: #7289da;
    border: 0;
    border-radius: 30px;
    font-size: 20px;
    padding: 15px 30px;
}
    /* footer */
footer{
    background-color: #23272a;
}
/* footer top */
.footer_top{
    border-bottom: 1px solid #7289da;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 0 3rem;

}
.footer_top ul{
    list-style-type: none;

}
.principal{
    width: calc((100% / 12) * 4);
    padding: 5rem;
}
.principal h4{
    color: #7289da;
    font-size: 30px;
    padding-bottom: 1rem;
}
.product{
    width: calc((100% / 12) * 2);
    display: flexbox;
    flex-direction: column;  
    padding: 5rem;
}
.product li:first-child a{
    color: #7289da;
}
.product li{
    padding-bottom: 1rem;
}
.company{
    width: calc((100% / 12) * 2);
    padding: 5rem;
}
.company li:first-child a{
    color: #7289da;
}
.company li{
    padding-bottom: 1rem;
}
.resources{
    width: calc((100% /12) * 2);
    padding: 5rem;
}
.resources li:first-child a{
    color: #7289da;
}
.resources li{
    padding-bottom: 1rem;
}
.norms{
    width: calc((100% / 12) * 2);
    padding: 5rem;
}
.norms li:first-child a{
    color: #7289da;

}
.norms li{
    padding-bottom: 1rem;
}
/* footer bottom */
.footer_bottom{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}